Segmenting and Clustering neighborhoods in Toronto

In [1]:
#Install necessary libraries

#Geopy library for handling geo-spatial data
#!pip install geopy
#Folium for map plotting based on lat and lng
#!pip install folium=0.5.0

#importing other necessary libraries
import numpy as np
import pandas as pd
import requests
import random
import folium
from geopy.geocoders import Nominatim
from IPython.display import Image 
from IPython.core.display import HTML 
from pandas.io.json import json_normalize

print('Libraries installed and imported')

ModuleNotFoundError: No module named 'geopy'

Reading Toronto Geo Data

In [2]:
geo_data = pd.read_csv("http://cocl.us/Geospatial_data")

geo_data.head()
#print(geo_data.shape)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
toronto_data = pd.read_csv("https://raw.githubusercontent.com/RamanujaSVL/Coursera_Capstone/master/toronto_data.csv")

#print(toronto_data.shape)
toronto_data.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [4]:
#Renaming the column Postal Code to Postcode to merge both the tables
geo_data.columns = ['Postcode', 'Latitude', 'Longitude']

#print(geo_data.columns)

toronto_geo_data = pd.merge(toronto_data, geo_data, on='Postcode')

toronto_geo_data.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Generate a CSV

In [5]:
toronto_geo_data.to_csv(r'toronto_geo_data.csv')